body {
    margin: 0;
    overflow: hidden;
}

#ui {
    margin: 0;
    overflow: hidden;
}

#commandUI {
    display: none;
    color: green;
    background-color: black;
    font-family: Consolas, Courier, monospace;
    position: absolute;
    left: 12.5%;
    top: 12.5%;
    width: 75%;
    height: 75%;
}

#commandText {
    display: inline;
}

#commandInput{
    display: inline;
    border: none;
    background-color: black;
    color: green;
    font-family: Consolas, Courier, monospace;
    font-size: 16px;
}

#commandInput:focus{
    outline: none;
    border: none;
    background-color: black;
    color: green;
    font-family: Consolas, Courier, monospace;
}

#game {
    display: inline;
}

.material-symbols-outlined {
    float: right;
}

#commandHeader {
    border-bottom: 1px solid green;
    height: 4%;
}

#jumpButton {
    position:absolute;
    top: 95%;
    border: solid 1px black;
    border-radius: 50px;
    background-color: white;
    left: 45%;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#joystick {
    position: absolute;
    float: right;
    width: 12.8%;
    height: 12.8%;
    border-radius: 50px;
    top: 87.2%;
    left: 55%
}

#mobileUI {
    /*position: absolute;*/
    left: 0;
    /*top: 50%;*/
}
#game[style*='display: none'] ~ #mobileUI {
    display: none;
  }
html, body {
    height: 100%;
 }
 
 body {
    font-family: 'Montserrat', sans-serif;
    background: #000000;
    font-size: 18px;
 }
 
 header {
    background: #1D415C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color:#fff;
    padding: 0.8em 0;
    margin-bottom: 2em;
 }
 .wrap {
    max-width: 100%;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
 }
 
 .card {
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    position:relative;
    display:grid;
    justify-items: center;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
 }
 .card img {
    display: block;
    position:relative;
    z-index:1;
    width: 80%;
    margin:0 auto;
    transition: transform 0.2s ease-in-out;
 }
 .card img.large {
    width: 65%;
 }
 .card:hover img {
    transform:translateY(-10%);
 }
 .item-title {
    position: absolute;
    left:1em;
    bottom:1em;
 }
 .image-container {
    position:relative;
 }
 .shadow {
    position:absolute;
    bottom:1em;
    left: 50%;
    transform: translateX(-50%);
 }
 
 /* ------------------------------- */
 
 .layout {
    
    display: none;
    grid-gap: 1%;
    padding-top: 1%;
    
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 100%;
    max-height: 100%;
 }
 
 
 .card-b {
    grid-column: 2/4;
    grid-row: 1/3;
    max-height: 100%;
 }
 .card-c {
    grid-column: 4/5;
    grid-row: 1/3;
    max-height: 100%;
 }
 
 
 @media (max-width: 700px) {
    .card {
       grid-column: span 2;
    }
    
    .card-b {
       grid-column: 20%;
       grid-row: 50%;
    }
    .card-c {
       grid-column: 20%;
       grid-row: 1/3;
    }   
 }
 
 @media (max-width: 400px) {
    .card {
       grid-column: span 4;
    }
    .item-title {
       position:relative;
       left:0;
    }
 }
.slot {
    /*width: 13.6%;*/
    width: 4.1%;
    height: 4vw;
    /*border-top: 1px solid black;
    border-left: 2px solid black;
    border-right: 1px solid black;
    border-bottom: 2px solid black;*/
    border: 1px solid black;
    display:inline-block;
    box-shadow: -2px 2px black;
    transition: transform 0.3s, box-shadow 0.3s;
    transform:translate(0, 0);
    /*-webkit-animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) forwards both;
    animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) forwards both;*/
}
.down {
   position: absolute;
   /*top: 2.55vw;*/
}
.spacer {
   background: transparent;
   width: 4.3vw;
   /*margin: 0 0 -50px 0;*/
   display:inline-block;
}
.slot:hover {
    transform:translate(-2px, 2px);
    box-shadow: none;
}
#containedInventory {
   /*width: 30%;
   height: 10vw;*/
}

#slotMain {
    background-color:#00c148;
    margin-right: 4px
}

.slot > img {
   min-width: 100%;
   max-width: 100%;
}
.floating {
   /*width: 13.6%;*/
   width: 4.1%;
   height: 4vw;
   position: absolute;
   left: calc(var(--mouse-x) - 2.05%);
   top: calc(var(--mouse-y) - 2vw);
   z-index: 1000;
 }
#hotbar {
   position:absolute;
   right:0;
}
.hotbar {
   width: 70%;
   height: 3.75vw;
   border: 1px solid black;
   position:relative;
   display: inline-block;
   left: 12%;
   margin-bottom: 3px;
   transition: left 1s, box-shadow 1s;
   background-color: #ffffff;
}
.hotbar.selected {
   box-shadow: 0 0 2px 2px #eeff00;
   left: 3%;
}
@media all and (orientation:portrait) {
   .hotbar > img{
      /*min-width: 100%;
      max-width: 100%;*/
      min-height: 100%;
      max-height: 100%;
   }
}
@media all and (orientation:landscape) {
   .hotbar > img{
      min-width: 100%;
      max-width: 100%;
   }
}
.hover {
   
}

#pauseUI {
   position:absolute;
   width: 100%;
   height: 100%;
}

#settingsButton {
   color: #fff;
   position: absolute;
   cursor: pointer;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

#settingsUI {
   display: none;
   color: white;
   background-color: black;
   font-family: Consolas, Courier, monospace;
   position: absolute;
   left: 12.5%;
   top: 12.5%;
   width: 75%;
   height: 75%;
}

.settings {
   text-align: center;
}