body {
    margin: 0;
    overflow: hidden;
}

#ui {
    margin: 0;
    overflow: hidden;
}

#commandUI {
    display: none;
    color: green;
    background-color: black;
    font-family: Consolas, Courier, monospace;
    position: absolute;
    left: 12.5%;
    top: 12.5%;
    width: 75%;
    height: 75%;
}

#commandText {
    display: inline;
}

#commandInput{
    display: inline;
    border: none;
    background-color: black;
    color: green;
    font-family: Consolas, Courier, monospace;
    font-size: 16px;
}

#commandInput:focus{
    outline: none;
    border: none;
    background-color: black;
    color: green;
    font-family: Consolas, Courier, monospace;
}

#game {
    display: inline;
}

#closeButton {
    float: right;
}

#commandHeader {
    border-bottom: 1px solid green;
    height: 4%;
}

#jumpButton {
    position:absolute;
    top: 95%;
    border: solid 1px black;
    border-radius: 50px;
    background-color: white;
    left: 45%;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#joystick {
    position: absolute;
    float: right;
    width: 12.8%;
    height: 12.8%;
    border-radius: 50px;
    top: 87.2%;
    left: 55%
}

#mobileUI {
    /*position: absolute;*/
    left: 0;
    /*top: 50%;*/
}