extends layout
block variables
  - var pagejs = "/javascripts/index.js"
  - var indexButtonClass = "active"

block content
  #game(class="hidden")
    a#gameurl.
      <h3 id="name"></h3>
      <img id="picture"></img>
